wheel
librosa==0.10.1
soundfile==0.12.1
numpy==1.26.4
torch==2.2.2
torchaudio==2.2.2
torchvision==0.17.2
tqdm==4.66.2
transformers==4.38.2
datasets==2.18.0
ninja==1.11.1.1
evaluate
jiwer
rouge-score
nltk
absl-py
pandas
scikit-learn
scipy
